*{
  padding: 0;
  margin: 0;
}

/* NAVIGATION BAR */
li {
    display: inline;
    float: right;
    align-self: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  ul.sticky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li a:hover {
    background-color: #111;
  }

/* CONTENT */
  h1 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    font-weight: 50;
  }
  
  h2 {
    color: #ffffff;
    font-family: Arial;
    outline: 0px 2px 2px white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 50;
    margin-top: 7%;
    margin-bottom: 1%;
  }

  h3 {
    color: #ffffff;
    font-family: Arial;
    outline: 0px 2px 2px white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 50;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
  }
  
  p {
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  p.bigtitle{
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 60px;
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p.details{
    font-size: 20px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 30%;
  }

  h1.selfname{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    min-width: 600px;
  }
  
  body {
    background-color: #212121;
  }

  div + section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    scroll-snap-align: start;
  }

  br{
    display: grid;
    place-items: center;
    align-content: center;
    scroll-snap-align: start;
  }

  .hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
  }

  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .container{
    scroll-snap-type: y mandatory;
  }
  
  progress{
    margin-left: 5%;
    position: relative;
    height: 10px;
    width: 30%;
    border: 3px solid #000000;
    border-radius: 15px;
    background-color: #57ff7c;
  }

 progress::-webkit-progress-value {
  background-color: rgb(44, 255, 90);
}