*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(26, 26, 26);
  color: aliceblue;
}

/* Navbar */
#navbar{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: none;
}

#navbar li{
  display: inline;
  cursor: pointer;
  font-size: 18px;
}

#navbar a{
  margin: 30px;
  transition: .3s;
}

#navbar a:hover{
  margin: 0 50px;
  color: rgb(90, 228, 228);
  transition: .3s;
}

/* Profile */
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 150px 0;
  transition: .3s;
}

.profile:hover{
  transform: scale(1.05);
  transition: .3s;
}

.profile-image{
  width: 200px;
  border-radius: 50%;
}

.profile img:hover{
  transform: rotateX(90);
}

.profile-text h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 10px 0;
  transition: .3s;
}

.profile-text h2{
  font-size: 20px;
  transition: .3s;
}

.profile-text h1:hover,
.profile-text h2:hover{
  transform: translateX(10px);
  transition: .3s;
}

/* Portfolio */
.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
}